<div class="xfaq">

	<{if $requestForm}>
	request Form help
	<{/if}>
	
	<{if $privacyForm}>
	privacy Form help
	<{/if}>
	
	<{if $faqNum > 0}>
		<div><{$smarty.const._AM_XFAQ_FAQ_USER_FAQ}></div>
		
		<{foreach item=faq from=$faqList}>
	   <div>
	
	   <div>
		<{$smarty.const._AM_XFAQ_FAQ_QUESTION}> : <{$faq.faq_question}>					
		<a href="<{$xoops_url}>/modules/xfaq/request.php?op=edit_faq&faq_id=<{$faq.faq_id}>"><{$smarty.const._AM_XFAQ_FAQ_EDIT}></a>
		<a href="<{$xoops_url}>/modules/xfaq/request.php?op=delete_faq&faq_id=<{$faq.faq_id}>"><{$smarty.const._AM_XFAQ_FAQ_DELETE}></a>
		<a href="<{$xoops_url}>/modules/xfaq/index.php?cid=<{$faq.faq_topicId}>">a</a>
	   </div>
	   
		<div>
		<{$smarty.const._AM_XFAQ_FAQ_ANSWER}> : 
		<{if $faq.faq_answer == ''}>
			<{$smarty.const._AM_XFAQ_FAQ_NO_ANSWER}>
		<{else}>
			<{$faq.faq_answer}>
		<{/if}>
		</div>
				
		<div>
		<{$smarty.const._AM_XFAQ_FAQ_DATE_CREATED}>: <{$faq.faq_date_created}>
		<{$smarty.const._AM_XFAQ_FAQ_SUBMITTER}>: <a href="<{$xoops_url}>/userinfo.php?uid=<{$faq.faq_submitterId}>"><{$faq.faq_submitter}></a>
		<{if $faq.faq_ansUserId != 0}>
			<{$smarty.const._AM_XFAQ_FAQ_ANSUSER}>: 
			<a href="<{$xoops_url}>/userinfo.php?uid=<{$faq.faq_ansUserId}>"><{$faq.faq_ansUser}></a>
		<{/if}>
		</div>	
		
		</div>
		<{/foreach}>
	<{/if}>
	
	
	<{if $answeredNum > 0}>
		<{foreach item=faq from=$answeredList}>
	   <div>
	
	   <div>
		<{$smarty.const._AM_XFAQ_FAQ_QUESTION}> : <{$faq.faq_question}>					
		<a href="<{$xoops_url}>/modules/xfaq/request.php?op=answere_faq&faq_id=<{$faq.faq_id}>"><{$smarty.const._AM_XFAQ_FAQ_ANSWER}></a>
		<a href="<{$xoops_url}>/modules/xfaq/index.php?cid=<{$faq.faq_topicId}>">a</a>
	   </div>
	   
		<div>
		<{$smarty.const._AM_XFAQ_FAQ_ANSWER}> : 
		<{if $faq.faq_answer == ''}>
			<{$smarty.const._AM_XFAQ_FAQ_NO_ANSWER}>
		<{else}>
			<{$faq.faq_answer}>
		<{/if}>
		</div>
				
		<div>
		<{$smarty.const._AM_XFAQ_FAQ_DATE_CREATED}>: <{$faq.faq_date_created}>
		<{$smarty.const._AM_XFAQ_FAQ_SUBMITTER}>: <a href="<{$xoops_url}>/userinfo.php?uid=<{$faq.faq_submitterId}>"><{$faq.faq_submitter}></a>
		<{if $faq.faq_ansUserId != 0}>
			<{$smarty.const._AM_XFAQ_FAQ_ANSUSER}>: 
			<a href="<{$xoops_url}>/userinfo.php?uid=<{$faq.faq_ansUserId}>"><{$faq.faq_ansUser}></a>
		<{/if}>
		</div>	
		
		</div>
		<{/foreach}>
	<{/if}>

</div>